/*Base style -------------------- */
* {
  margin: 0;
}

body {
  background-color: #f5f6f8;
  border: 2px solid #404042;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
  margin: auto;
}

h1 {
  color: #d9548a;
  font-size: 4em;
  font-weight: 300;
  margin: 0;
}

h2 {
  color: #7f7f7f;
}

h3 {
  color: #606060;
}

h4 {
  color: #727379;
  letter-spacing: .03em;
  font-weight: 600;
  font-size: 18px;
}

header {
  background: #404042;
  height: 18vh;
}

p {
  color: #727378;
  font-weight: 400;
}

label {
  display: block;
  color: #727378;
  font-weight: 400;
  margin: 2px 0 2px 0;
}

main {
  height: 100%;
}

/*Layout style -------------------- */
.l-block {
  display: block;
}

.l-container {
  margin: 5px 0 0 0;
}

.l-flex {
  display: flex;
}

.l-flex-1 {
  flex: 1;
}

.l-flex-2 {
  flex: 2;
}

.l-flex-3 {
  flex: 3;
}

.l-flex-a-e {
  align-items: flex-end;
}

.l-flex-a-c {
  align-items: center;
}

.l-flex-dir {
  flex-direction: column;
}

.l-flex-2f {
  flex: 1.6;
}

.l-flex-j-c {
  justify-content: center;
}

.l-flex-j-sa {
  justify-content: space-around;
}

.l-flex-j-sb {
  justify-content: space-between;
}

.l-header {
  justify-content: center;
  align-items: center;
  min-height: 130px;
}

.l-m-auto {
  margin: auto;
}


/*Module style -------------------- */

.btn {
  background-color: #7f7f7f;
  border: 0;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  color: #ffffff;
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 600;
  height: 32px;
  margin: 0 3px 2px 3px;
  padding: 0 3px;
  text-align: center;
  width: 94%;
}

.btn:disabled {
  background-color: #d1d2d4;
}

.btn-padding {
  padding: 0 10px 0 10px;
}

.card {
  background: #ffffff;
  border: 2px solid #eaeaea;
  padding: 10px 10px 0 10px;
}

.card-1 {
  margin: 15px;
  min-height: 100px;
}

.card-2-3 {
  margin: 0 15px 15px 15px;
}

.card-bot {
  padding-bottom: 10px;
}

.center {
  text-align: center;
}

.close-x-btn-div {
 width: 25px;
 height: 25px;
 background: #7f7f7f;
 border-radius: 100%;
 color: #d1d2d4;
 font-size: 1.4em;
 position: relative;
 margin: 0;
 padding: 0;
}

.close-x-btn-x {
 margin: 0;
 padding: 0;
 position: absolute;
 top: 45%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.flex-content-margin {
  margin: 0 20px 0 0;
}

.fnt-x-bold {
  font-weight: 800; 
}

.fnt-hint {
  font-size: 1.2em;
}

.fnt-light {
  font-weight: 300;
}

.fnt-range {
  color: #525252;
}

.guess-count p {
  padding-top: 15px;
}

.header-span {
  font-weight: 300;
}

/*.hr {
  width: 85px;
  border: 1px solid #ffffff;
  display: inline-block;
}*/

.input {
  background: #f5f6f8;
  border-right: 2px solid #aaaaaa;
}

.input-field {
  border: 2px solid #eaeaea;
  color: #727378;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  height: 30px;
  padding-left: 5px;
  width: 92%;
  margin: 0;
}

.latest-score {
  text-align: center;
  padding-bottom: 20px;
}

.latest-score-num {
  font-weight: 800;
  font-size: 5em;
  color: #da548a;
}

.marg-b-5 {
  margin-bottom: 5px;
}

.marg-b-10 {
  margin-bottom: 10px;
}

.marg-b-20 {
  margin-bottom: 20px;
}

.output {
  background: #d1d2d4;
}

.right-align {
  text-align: right;
}

.subheader {
  color: #ffffff;
  font-size: 1.4em;
  font-weight: 300;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.vs {
  padding-bottom: 15px;
}

.vs-chal {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 15px;
}

.winner-card {
  background-color: white;
  padding: 20px;
  margin: 20px 40px;
  border: solid 2px #aaaaaa;
}

.winner-chal-name {
  font-weight: 700;
}

.winner-text {
  font-size: 35px;
  text-align: center;
  padding: 25px 0px;
  border-top: solid 2px #eaeaea;
  border-bottom: solid 2px #eaeaea;
}

/** {
  border: solid 1px red;
}*/

/*State style -------------------- */

.input-field:focus {
  outline: none;
}

/*Theme style -------------------- */

/*Testing -------------------- */
