/*Base style -------------------- */
* {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #D1D2D4;
}

header {
  background: #404042;
}

h1 {
  color: #da548a;
  margin: 0;
}



/*Layout style -------------------- */

.l-flex {
  display: flex;
}

.l-flex-item {
  flex: 1;
}

.l-flex-col {
  flex-direction: column;
}

.l-m-auto {
  margin: auto;
}

.l-page-half {
  flex: 1;
}

.field {
  display: block;
}

/*Module style -------------------- */

.fnt-x-bold {
  font-weight: 800; 
}

.header-subheader {
  color: white;
  text-transform: uppercase;
}

.input {
  background: #f5f6f8;
}

.left-page-half {
  background-color: #f5f6f8;
  border-right: 1px solid #AAAAAA;
}

.output {
  background: #d1d2d4;
}

.uppercase {
  text-transform: uppercase;
}


/*State style -------------------- */

/*Theme style -------------------- */


/*Testing -------------------- */


.section1,
.section2,
.section3 {
  flex: 1;
}






